<div class="container">
  <div class="room-code">
    <h3>Код комнаты</h3>
    <h2>JKGF</h2>
  </div>
  <div class="players-list">
    <h4>Список участников</h4>
    <span class="number-of-players"></span>
    <div class="player-list-item">
      <mat-icon>person</mat-icon> <span class="name">Злая сука</span>
    </div>
    <div class="player-list-item">
      <mat-icon>person</mat-icon> <span class="name">Злая сука</span>
    </div>
    <div class="player-list-item">
      <mat-icon>person</mat-icon> <span class="name">Злая сука</span>
    </div>
  </div>
</div>
