<div class="container">
  <h3 class="mb-3 text-center">{{ actionTitle }}</h3>
  <h4
    class="mb-3 text-center"
    *ngIf="actionType == actionTypeEnum.GameFinished"
  >
    {{ gameResultMessage }}
  </h4>
  <ul
    class="mb-3 p-0"
    *ngIf="
      !policeCheckResult &&
      actionType != actionTypeEnum.CardReveal &&
      actionType != actionTypeEnum.GameFinished
    "
  >
    <li
      *ngFor="let citizen of citizens"
      class="text-center mb-2"
      (click)="onCitizenSelect(citizen)"
      [ngClass]="{
        selected: citizen.name == selected?.name,
        'text-danger': isCitizenDead(citizen)
      }"
    >
      {{ citizen.name }}
    </li>
  </ul>
  <ul
    class="mb-3 p-0"
    *ngIf="!policeCheckResult && actionType == actionTypeEnum.CardReveal"
  >
    <li
      *ngFor="let card of myCitizen.cards; let i = index"
      class="text-center mb-2"
      (click)="onCardSelect(i)"
      [ngClass]="{
        selected: i == selectedCardIndex,
        'text-danger': card.isRevealed
      }"
    >
      {{ cardType2String(card.cardType) }}
    </li>
  </ul>
  <button
    mat-raised-button
    (click)="onKill()"
    class="w-100"
    [disabled]="!selected"
    *ngIf="
      actionType == actionTypeEnum.MafiaKill ||
      actionType == actionTypeEnum.CivilKill
    "
  >
    УБИТЬ
  </button>
  <button
    mat-raised-button
    class="w-100 mb-2"
    [disabled]="!selected"
    *ngIf="actionType == actionTypeEnum.PoliceCheck && !policeCheckResult"
    (click)="onPoliceCheck(0)"
  >
    ПРОВЕРИТЬ ПЕРВУЮ КАРТУ
  </button>
  <button
    mat-raised-button
    class="w-100"
    [disabled]="!selected"
    *ngIf="actionType == actionTypeEnum.PoliceCheck && !policeCheckResult"
    (click)="onPoliceCheck(1)"
  >
    ПРОВЕРИТЬ ВТОРУЮ КАРТУ
  </button>
  <button
    mat-raised-button
    class="w-100"
    [disabled]="selectedCardIndex === null || selectedCardIndex === undefined"
    *ngIf="actionType == actionTypeEnum.CardReveal"
    (click)="onCardReveal()"
  >
    ПОКАЗАТЬ КАРТУ
  </button>
  <button
    mat-raised-button
    class="w-100"
    *ngIf="actionType == actionTypeEnum.GameFinished"
    (click)="onGameFinished()"
  >
    НА ГЛАВНУЮ
  </button>
</div>
