.container {
  position: relative;
  h3 {
    font-size: 31px;
    font-weight: bold;
    color: white;
  }

  h4 {
    font-size: 25px;
    font-weight: bold;
    color: white;
  }

  ul {
    list-style-type: none;
    li {
      font-size: 25px;
      color: rgba(white, 0.5);
      cursor: pointer;

      &.selected {
        color: white;
      }
    }
  }
}
