<div class="container">
  <div class="cards pt-5" (click)="isCardsVisible = !isCardsVisible">
    <h3 class="w-100 text-center" *ngFor="let card of cards">
      {{ isCardsVisible ? cardType2String(card.cardType) : 'Спрятаны' }}
    </h3>
  </div>

  <button
    mat-raised-button
    color="primary"
    class="mb-3 w-100"
    [disabled]="
      startNightRequestSend || currentDayStageValue != dayStage.CitizenWelcome
    "
    (click)="onStartNight()"
  >
    {{ startNightBtnText }}
  </button>
  <button
    mat-raised-button
    color="primary"
    class="mb-3 w-100"
    [disabled]="
      startJudgeRequestSend || currentDayStageValue != dayStage.CardRevealResult
    "
    (click)="onStartJudge()"
  >
    {{ startJudgeBtnText }}
  </button>

  <div class="day-card p-4 mb-2" *ngFor="let day of daysReversed">
    <h4 class="w-100 text-center">День {{ getDayNumber(day) }}</h4>
    <p class="day-event w-100 text-center" *ngFor="let log of day.dayLog">
      {{ log }}
    </p>
  </div>
</div>
