<div class="container">
  <mat-form-field appearance="standard" class="w-100">
    <mat-label>Как вас зовут?</mat-label>
    <input matInput placeholder="Davai" />
  </mat-form-field>
  <mat-form-field appearance="standard" class="w-100">
    <mat-label>Количество человек</mat-label>
    <input matInput placeholder="9" type="number" />
  </mat-form-field>
  <mat-form-field appearance="standard" class="w-100">
    <mat-label>Мафия</mat-label>
    <input matInput placeholder="2" type="number" />
  </mat-form-field>
  <mat-form-field appearance="standard" class="w-100">
    <mat-label>Комиссар</mat-label>
    <input matInput placeholder="1" type="number" />
  </mat-form-field>
  <button mat-raised-button color="primary" class="w-100 mt-4">СОЗДАТЬ</button>
</div>
