/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/scss/bootstrap.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
}

.container {
  height: calc(100% - 56px);
}

.dark-backdrop {
  background-color: rgba(black, 0.5);
}

.purple-backdrop {
  background-color: #6200ff;
}
